@model Team

<h1>Team Details</h1>

<p><strong>Team Name:</strong> @Model.Name</p>
<p><strong>Manager:</strong> @Model.Manager.FirstName @Model.Manager.LastName</p>

<h3>Team Members</h3>
@if (Model.TeamMembers.Any())
{
	<ul>
		@foreach (var member in Model.TeamMembers)
		{
			<li>
				@member.User.FirstName @member.User.LastName
				@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
				{
					<a asp-controller="Profile" asp-action="Index" asp-route-id="@member.User.Id" class="btn btn-primary btn-sm">View Profile</a>
				}
			</li>
		}
	</ul>
}
else
{
	<p>No members in this team.</p>
}
<a asp-action="Index" class="btn btn-secondary">Back to Teams</a>